html, body {
	height: 100%;
	width: 100%;
	font-family: 'Share Tech Mono', monospace;
}

body {
	text-align: center;
	overflow-y: scroll	;
	overflow-x: hidden;
}

#home-image {
	height: 100%;
	z-index: -10000;
}

.white {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	vertical-align: middle;
	height: 50%;
	padding: 20px 20px;
	background: #fff;
}

.black {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 50%;
	padding: 20px 20px;
	background: #000;
	color: #fff;
}

#main p {
	font-family: 'Roboto', monospace;
	font-family: 'Share Tech Mono', monospace;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: black;
	font-size: 30px;
}

a:visited {
	color: black;
}

.fa-github, fa-linkedin {
	font-size: 30px;
}

#next-page {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 15%;
	padding: 0;
	color: #ddd;
	background: #000;
}

#arrow:hover {
	font-size: 55px;
}

#arrow {
	font-size: 48px;
	transition-duration: 0.2s;
}