html, body {
	height: 100%;
	width: 100%;
	font-family: 'Share Tech Mono', monospace;
}

body {
	text-align: center;
	overflow-y: scroll	;
	overflow-x: hidden;
}

.white {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	vertical-align: middle;
	height: 50%;
	padding: 20px;
	background: #fff;
}

.black {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 50%;
	padding: 20px;
	background: #000;
	color: #fff;
}

a {
	text-decoration: none;
	color: black;
	font-size: 30px;
}

a:visited {
	color: black;
}

#projects {
	display: block;
	height: 95%;
	text-align: left;
}

#projects li {
	padding: 5px 0;
}